[user]
	name = Jaime Melis
	email = jmelis@opennebula.org
[color]
	ui = auto
	wtf = auto
[gist]
        private = true
        browse = false
[push]
	default = current
[alias]
	slog    = log --abbrev-commit --oneline
	sl      = log --abbrev-commit --oneline
    cx      = cherry-pick -x
	st      = status
    br      = branch
	s       = status
	co      = checkout
	nb      = checkout -b
    ack     = !git-ack
    find    = !git-find
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lol = log --oneline --graph --decorate
    lola = log --oneline --graph --decorate --all
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[gui]
	spellingdictionary = none
[credential]
	helper = cache
